In [27]:
import pandas as pd

pd.set_option('display.max_rows', 300)

#Original file cleanup
# read csv file
dirty = pd.read_csv("../dirty-data/INEGI_exporta_27_5_2024_23_2_38_original.csv")

# display DataFrame
dirty

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Total,Hombre,Mujer,No especificado
0,NaN,Total,Total,Total,"33,287","28,745","3,928",614.0
1,NaN,Total,Total,Enero,"2,689","2,306",329,54.0
2,NaN,Total,Total,Febrero,"2,403","2,057",301,45.0
3,NaN,Total,Total,Marzo,"2,811","2,456",315,40.0
4,NaN,Total,Total,Abril,"2,674","2,275",334,65.0
...,...,...,...,...,...,...,...,...
19908,99,No especificado,2022,Noviembre,24,22,1,1.0
19909,99,No especificado,2022,Diciembre,21,17,2,2.0
19910,99,No especificado,2022,No especificado,33,30,3,NaN
19911,99,No especificado,No especificado,Total,44,34,4,6.0
19912,99,No especificado,No especificado,No especificado,44,34,4,6.0

In [28]:
#split first column to get 'entity/state' and 'municipality' in different columns
dirty[['StateId', 'MunicipalityId']] = dirty['Unnamed: 0'].str.split(' ', n=1, expand=True)

dirty.head(300)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Total,Hombre,Mujer,No especificado,StateId,MunicipalityId
0,NaN,Total,Total,Total,"33,287","28,745","3,928",614.0,NaN,NaN
1,NaN,Total,Total,Enero,"2,689","2,306",329,54.0,NaN,NaN
2,NaN,Total,Total,Febrero,"2,403","2,057",301,45.0,NaN,NaN
3,NaN,Total,Total,Marzo,"2,811","2,456",315,40.0,NaN,NaN
4,NaN,Total,Total,Abril,"2,674","2,275",334,65.0,NaN,NaN
5,NaN,Total,Total,Mayo,"3,015","2,636",324,55.0,NaN,NaN
6,NaN,Total,Total,Junio,"2,845","2,407",374,64.0,NaN,NaN
7,NaN,Total,Total,Julio,"2,838","2,469",318,51.0,NaN,NaN
8,NaN,Total,Total,Agosto,"2,712","2,329",339,44.0,NaN,NaN
9,NaN,Total,Total,Septiembre,"2,765","2,417",333,15.0,NaN,NaN
10,NaN,Total,Total,Octubre,"2,924","2,536",318,70.0,NaN,NaN
11,NaN,Total,Total,Noviembre,"2,583","2,236",298,49.0,NaN,NaN
12,NaN,Total,Total,Diciembre,"2,744","2,398",310,36.0,NaN,NaN
13,NaN,Total,Total,No especificado,284,223,35,26.0,NaN,NaN
14,NaN,Total,1967,Total,1,NaN,NaN,1.0,NaN,NaN
15,NaN,Total,1967,Mayo,1,NaN,NaN,1.0,NaN,NaN
16,NaN,Total,1986,Total,1,1,NaN,NaN,NaN,NaN
17,NaN,Total,1986,Junio,1,1,NaN,NaN,NaN,NaN
18,NaN,Total,1995,Total,1,1,NaN,NaN,NaN,NaN
19,NaN,Total,1995,Diciembre,1,1,NaN,NaN,NaN,NaN
20,NaN,Total,1997,Total,1,1,NaN,NaN,NaN,NaN
21,NaN,Total,1997,Diciembre,1,1,NaN,NaN,NaN,NaN
22,NaN,Total,1999,Total,2,2,NaN,NaN,NaN,NaN
23,NaN,Total,1999,Julio,1,1,NaN,NaN,NaN,NaN
24,NaN,Total,1999,Septiembre,1,1,NaN,NaN,NaN,NaN
25,NaN,Total,2005,Total,1,1,NaN,NaN,NaN,NaN
26,NaN,Total,2005,Septiembre,1,1,NaN,NaN,NaN,NaN
27,NaN,Total,2006,Total,2,2,NaN,NaN,NaN,NaN
28,NaN,Total,2006,Marzo,1,1,NaN,NaN,NaN,NaN
29,NaN,Total,2006,Abril,1,1,NaN,NaN,NaN,NaN
30,NaN,Total,2009,Total,2,2,NaN,NaN,NaN,NaN
31,NaN,Total,2009,Marzo,1,1,NaN,NaN,NaN,NaN
32,NaN,Total,2009,Julio,1,1,NaN,NaN,NaN,NaN
33,NaN,Total,2010,Total,4,3,1,NaN,NaN,NaN
34,NaN,Total,2010,Enero,1,1,NaN,NaN,NaN,NaN
35,NaN,Total,2010,Octubre,3,2,1,NaN,NaN,NaN
36,NaN,Total,2012,Total,5,4,1,NaN,NaN,NaN
37,NaN,Total,2012,Marzo,1,NaN,1,NaN,NaN,NaN
38,NaN,Total,2012,Abril,2,2,NaN,NaN,NaN,NaN
39,NaN,Total,2012,Julio,1,1,NaN,NaN,NaN,NaN
40,NaN,Total,2012,Diciembre,1,1,NaN,NaN,NaN,NaN
41,NaN,Total,2014,Total,2,2,NaN,NaN,NaN,NaN
42,NaN,Total,2014,Febrero,1,1,NaN,NaN,NaN,NaN
43,NaN,Total,2014,Octubre,1,1,NaN,NaN,NaN,NaN
44,NaN,Total,2015,Total,1,NaN,1,NaN,NaN,NaN
45,NaN,Total,2015,Octubre,1,NaN,1,NaN,NaN,NaN
46,NaN,Total,2016,Total,14,12,1,1.0,NaN,NaN
47,NaN,Total,2016,Marzo,1,NaN,1,NaN,NaN,NaN
48,NaN,Total,2016,Abril,1,1,NaN,NaN,NaN,NaN
49,NaN,Total,2016,Junio,3,3,NaN,NaN,NaN,NaN
50,NaN,Total,2016,Julio,2,2,NaN,NaN,NaN,NaN
51,NaN,Total,2016,Agosto,1,1,NaN,NaN,NaN,NaN
52,NaN,Total,2016,Octubre,4,3,NaN,1.0,NaN,NaN
53,NaN,Total,2016,Diciembre,2,2,NaN,NaN,NaN,NaN
54,NaN,Total,2017,Total,25,22,3,NaN,NaN,NaN
55,NaN,Total,2017,Enero,2,NaN,2,NaN,NaN,NaN
56,NaN,Total,2017,Febrero,1,NaN,1,NaN,NaN,NaN
57,NaN,Total,2017,Marzo,1,1,NaN,NaN,NaN,NaN
58,NaN,Total,2017,Junio,4,4,NaN,NaN,NaN,NaN
59,NaN,Total,2017,Julio,5,5,NaN,NaN,NaN,NaN
60,NaN,Total,2017,Agosto,4,4,NaN,NaN,NaN,NaN
61,NaN,Total,2017,Septiembre,3,3,NaN,NaN,NaN,NaN
62,NaN,Total,2017,Octubre,2,2,NaN,NaN,NaN,NaN
63,NaN,Total,2017,Noviembre,3,3,NaN,NaN,NaN,NaN
64,NaN,Total,2018,Total,23,17,4,2.0,NaN,NaN
65,NaN,Total,2018,Enero,1,1,NaN,NaN,NaN,NaN
66,NaN,Total,2018,Febrero,1,1,NaN,NaN,NaN,NaN
67,NaN,Total,2018,Marzo,3,3,NaN,NaN,NaN,NaN
68,NaN,Total,2018,Mayo,4,4,NaN,NaN,NaN,NaN
69,NaN,Total,2018,Junio,2,1,1,NaN,NaN,NaN
70,NaN,Total,2018,Julio,2,1,NaN,1.0,NaN,NaN
71,NaN,Total,2018,Agosto,1,NaN,1,NaN,NaN,NaN
72,NaN,Total,2018,Septiembre,5,3,2,NaN,NaN,NaN
73,NaN,Total,2018,Octubre,2,2,NaN,NaN,NaN,NaN
74,NaN,Total,2018,Noviembre,2,1,NaN,1.0,NaN,NaN
75,NaN,Total,2019,Total,93,67,15,11.0,NaN,NaN
76,NaN,Total,2019,Enero,6,6,NaN,NaN,NaN,NaN
77,NaN,Total,2019,Febrero,9,6,1,2.0,NaN,NaN
78,NaN,Total,2019,Marzo,6,4,2,NaN,NaN,NaN
79,NaN,Total,2019,Abril,6,4,2,NaN,NaN,NaN
80,NaN,Total,2019,Mayo,6,5,1,NaN,NaN,NaN
81,NaN,Total,2019,Junio,4,3,NaN,1.0,NaN,NaN
82,NaN,Total,2019,Julio,8,6,2,NaN,NaN,NaN
83,NaN,Total,2019,Agosto,8,2,2,4.0,NaN,NaN
84,NaN,Total,2019,Septiembre,12,12,NaN,NaN,NaN,NaN
85,NaN,Total,2019,Octubre,7,5,2,NaN,NaN,NaN
86,NaN,Total,2019,Noviembre,12,8,2,2.0,NaN,NaN
87,NaN,Total,2019,Diciembre,9,6,1,2.0,NaN,NaN
88,NaN,Total,2020,Total,257,200,36,21.0,NaN,NaN
89,NaN,Total,2020,Enero,30,24,4,2.0,NaN,NaN
90,NaN,Total,2020,Febrero,13,11,2,NaN,NaN,NaN
91,NaN,Total,2020,Marzo,8,6,2,NaN,NaN,NaN
92,NaN,Total,2020,Abril,19,17,2,NaN,NaN,NaN
93,NaN,Total,2020,Mayo,17,16,NaN,1.0,NaN,NaN
94,NaN,Total,2020,Junio,25,19,6,NaN,NaN,NaN
95,NaN,Total,2020,Julio,19,16,3,NaN,NaN,NaN
96,NaN,Total,2020,Agosto,17,12,1,4.0,NaN,NaN
97,NaN,Total,2020,Septiembre,17,14,2,1.0,NaN,NaN
98,NaN,Total,2020,Octubre,30,20,6,4.0,NaN,NaN
99,NaN,Total,2020,Noviembre,29,25,1,3.0,NaN,NaN
100,NaN,Total,2020,Diciembre,24,16,2,6.0,NaN,NaN
101,NaN,Total,2020,No especificado,9,4,5,NaN,NaN,NaN
102,NaN,Total,2021,Total,777,654,77,46.0,NaN,NaN
103,NaN,Total,2021,Enero,26,26,NaN,NaN,NaN,NaN
104,NaN,Total,2021,Febrero,24,21,1,2.0,NaN,NaN
105,NaN,Total,2021,Marzo,33,27,3,3.0,NaN,NaN
106,NaN,Total,2021,Abril,35,31,2,2.0,NaN,NaN
107,NaN,Total,2021,Mayo,21,19,1,1.0,NaN,NaN
108,NaN,Total,2021,Junio,51,40,5,6.0,NaN,NaN
109,NaN,Total,2021,Julio,51,44,6,1.0,NaN,NaN
110,NaN,Total,2021,Agosto,66,51,12,3.0,NaN,NaN
111,NaN,Total,2021,Septiembre,54,47,6,1.0,NaN,NaN
112,NaN,Total,2021,Octubre,76,62,5,9.0,NaN,NaN
113,NaN,Total,2021,Noviembre,141,112,14,15.0,NaN,NaN
114,NaN,Total,2021,Diciembre,193,169,21,3.0,NaN,NaN
115,NaN,Total,2021,No especificado,6,5,1,NaN,NaN,NaN
116,NaN,Total,2022,Total,"31,891","27,616","3,767",508.0,NaN,NaN
117,NaN,Total,2022,Enero,"2,623","2,248",323,52.0,NaN,NaN
118,NaN,Total,2022,Febrero,"2,354","2,017",296,41.0,NaN,NaN
119,NaN,Total,2022,Marzo,"2,756","2,413",306,37.0,NaN,NaN
120,NaN,Total,2022,Abril,"2,610","2,219",328,63.0,NaN,NaN
121,NaN,Total,2022,Mayo,"2,966","2,592",322,52.0,NaN,NaN
122,NaN,Total,2022,Junio,"2,755","2,336",362,57.0,NaN,NaN
123,NaN,Total,2022,Julio,"2,748","2,392",307,49.0,NaN,NaN
124,NaN,Total,2022,Agosto,"2,615","2,259",323,33.0,NaN,NaN
125,NaN,Total,2022,Septiembre,"2,672","2,336",323,13.0,NaN,NaN
126,NaN,Total,2022,Octubre,"2,798","2,439",303,56.0,NaN,NaN
127,NaN,Total,2022,Noviembre,"2,396","2,087",281,28.0,NaN,NaN
128,NaN,Total,2022,Diciembre,"2,513","2,202",286,25.0,NaN,NaN
129,NaN,Total,2022,No especificado,85,76,7,2.0,NaN,NaN
130,NaN,Total,No especificado,Total,184,138,22,24.0,NaN,NaN
131,NaN,Total,No especificado,No especificado,184,138,22,24.0,NaN,NaN
132,1,Aguascalientes,Total,Total,83,71,12,NaN,1,None
133,1,Aguascalientes,Total,Enero,7,6,1,NaN,1,None
134,1,Aguascalientes,Total,Febrero,7,5,2,NaN,1,None
135,1,Aguascalientes,Total,Marzo,6,5,1,NaN,1,None
136,1,Aguascalientes,Total,Abril,2,2,NaN,NaN,1,None
137,1,Aguascalientes,Total,Mayo,5,5,NaN,NaN,1,None
138,1,Aguascalientes,Total,Junio,8,7,1,NaN,1,None
139,1,Aguascalientes,Total,Julio,8,8,NaN,NaN,1,None
140,1,Aguascalientes,Total,Agosto,9,8,1,NaN,1,None
141,1,Aguascalientes,Total,Septiembre,8,6,2,NaN,1,None
142,1,Aguascalientes,Total,Octubre,10,7,3,NaN,1,None
143,1,Aguascalientes,Total,Noviembre,7,6,1,NaN,1,None
144,1,Aguascalientes,Total,Diciembre,6,6,NaN,NaN,1,None
145,1,Aguascalientes,2022,Total,83,71,12,NaN,1,None
146,1,Aguascalientes,2022,Enero,7,6,1,NaN,1,None
147,1,Aguascalientes,2022,Febrero,7,5,2,NaN,1,None
148,1,Aguascalientes,2022,Marzo,6,5,1,NaN,1,None
149,1,Aguascalientes,2022,Abril,2,2,NaN,NaN,1,None
150,1,Aguascalientes,2022,Mayo,5,5,NaN,NaN,1,None
151,1,Aguascalientes,2022,Junio,8,7,1,NaN,1,None
152,1,Aguascalientes,2022,Julio,8,8,NaN,NaN,1,None
153,1,Aguascalientes,2022,Agosto,9,8,1,NaN,1,None
154,1,Aguascalientes,2022,Septiembre,8,6,2,NaN,1,None
155,1,Aguascalientes,2022,Octubre,10,7,3,NaN,1,None
156,1,Aguascalientes,2022,Noviembre,7,6,1,NaN,1,None
157,1,Aguascalientes,2022,Diciembre,6,6,NaN,NaN,1,None
158,01 001,Aguascalientes,Total,Total,42,37,5,NaN,01,001
159,01 001,Aguascalientes,Total,Enero,4,4,NaN,NaN,01,001
160,01 001,Aguascalientes,Total,Febrero,6,5,1,NaN,01,001
161,01 001,Aguascalientes,Total,Marzo,4,3,1,NaN,01,001
162,01 001,Aguascalientes,Total,Mayo,1,1,NaN,NaN,01,001
163,01 001,Aguascalientes,Total,Junio,8,7,1,NaN,01,001
164,01 001,Aguascalientes,Total,Julio,1,1,NaN,NaN,01,001
165,01 001,Aguascalientes,Total,Agosto,4,4,NaN,NaN,01,001
166,01 001,Aguascalientes,Total,Septiembre,7,5,2,NaN,01,001
167,01 001,Aguascalientes,Total,Octubre,2,2,NaN,NaN,01,001
168,01 001,Aguascalientes,Total,Noviembre,3,3,NaN,NaN,01,001
169,01 001,Aguascalientes,Total,Diciembre,2,2,NaN,NaN,01,001
170,01 001,Aguascalientes,2022,Total,42,37,5,NaN,01,001
171,01 001,Aguascalientes,2022,Enero,4,4,NaN,NaN,01,001
172,01 001,Aguascalientes,2022,Febrero,6,5,1,NaN,01,001
173,01 001,Aguascalientes,2022,Marzo,4,3,1,NaN,01,001
174,01 001,Aguascalientes,2022,Mayo,1,1,NaN,NaN,01,001
175,01 001,Aguascalientes,2022,Junio,8,7,1,NaN,01,001
176,01 001,Aguascalientes,2022,Julio,1,1,NaN,NaN,01,001
177,01 001,Aguascalientes,2022,Agosto,4,4,NaN,NaN,01,001
178,01 001,Aguascalientes,2022,Septiembre,7,5,2,NaN,01,001
179,01 001,Aguascalientes,2022,Octubre,2,2,NaN,NaN,01,001
180,01 001,Aguascalientes,2022,Noviembre,3,3,NaN,NaN,01,001
181,01 001,Aguascalientes,2022,Diciembre,2,2,NaN,NaN,01,001
182,01 002,Asientos,Total,Total,2,2,NaN,NaN,01,002
183,01 002,Asientos,Total,Enero,1,1,NaN,NaN,01,002
184,01 002,Asientos,Total,Diciembre,1,1,NaN,NaN,01,002
185,01 002,Asientos,2022,Total,2,2,NaN,NaN,01,002
186,01 002,Asientos,2022,Enero,1,1,NaN,NaN,01,002
187,01 002,Asientos,2022,Diciembre,1,1,NaN,NaN,01,002
188,01 003,Calvillo,Total,Total,11,9,2,NaN,01,003
189,01 003,Calvillo,Total,Mayo,3,3,NaN,NaN,01,003
190,01 003,Calvillo,Total,Julio,3,3,NaN,NaN,01,003
191,01 003,Calvillo,Total,Agosto,3,2,1,NaN,01,003
192,01 003,Calvillo,Total,Octubre,1,1,NaN,NaN,01,003
193,01 003,Calvillo,Total,Noviembre,1,NaN,1,NaN,01,003
194,01 003,Calvillo,2022,Total,11,9,2,NaN,01,003
195,01 003,Calvillo,2022,Mayo,3,3,NaN,NaN,01,003
196,01 003,Calvillo,2022,Julio,3,3,NaN,NaN,01,003
197,01 003,Calvillo,2022,Agosto,3,2,1,NaN,01,003
198,01 003,Calvillo,2022,Octubre,1,1,NaN,NaN,01,003
199,01 003,Calvillo,2022,Noviembre,1,NaN,1,NaN,01,003
200,01 004,CosÃ­o,Total,Total,2,2,NaN,NaN,01,004
201,01 004,CosÃ­o,Total,Marzo,1,1,NaN,NaN,01,004
202,01 004,CosÃ­o,Total,Mayo,1,1,NaN,NaN,01,004
203,01 004,CosÃ­o,2022,Total,2,2,NaN,NaN,01,004
204,01 004,CosÃ­o,2022,Marzo,1,1,NaN,NaN,01,004
205,01 004,CosÃ­o,2022,Mayo,1,1,NaN,NaN,01,004
206,01 005,JesÃºs MarÃ­a,Total,Total,8,7,1,NaN,01,005
207,01 005,JesÃºs MarÃ­a,Total,Enero,2,1,1,NaN,01,005
208,01 005,JesÃºs MarÃ­a,Total,Abril,1,1,NaN,NaN,01,005
209,01 005,JesÃºs MarÃ­a,Total,Julio,2,2,NaN,NaN,01,005
210,01 005,JesÃºs MarÃ­a,Total,Diciembre,3,3,NaN,NaN,01,005
211,01 005,JesÃºs MarÃ­a,2022,Total,8,7,1,NaN,01,005
212,01 005,JesÃºs MarÃ­a,2022,Enero,2,1,1,NaN,01,005
213,01 005,JesÃºs MarÃ­a,2022,Abril,1,1,NaN,NaN,01,005
214,01 005,JesÃºs MarÃ­a,2022,Julio,2,2,NaN,NaN,01,005
215,01 005,JesÃºs MarÃ­a,2022,Diciembre,3,3,NaN,NaN,01,005
216,01 006,PabellÃ³n de Arteaga,Total,Total,3,2,1,NaN,01,006
217,01 006,PabellÃ³n de Arteaga,Total,Marzo,1,1,NaN,NaN,01,006
218,01 006,PabellÃ³n de Arteaga,Total,Octubre,2,1,1,NaN,01,006
219,01 006,PabellÃ³n de Arteaga,2022,Total,3,2,1,NaN,01,006
220,01 006,PabellÃ³n de Arteaga,2022,Marzo,1,1,NaN,NaN,01,006
221,01 006,PabellÃ³n de Arteaga,2022,Octubre,2,1,1,NaN,01,006
222,01 007,RincÃ³n de Romos,Total,Total,4,3,1,NaN,01,007
223,01 007,RincÃ³n de Romos,Total,Febrero,1,NaN,1,NaN,01,007
224,01 007,RincÃ³n de Romos,Total,Abril,1,1,NaN,NaN,01,007
225,01 007,RincÃ³n de Romos,Total,Julio,1,1,NaN,NaN,01,007
226,01 007,RincÃ³n de Romos,Total,Septiembre,1,1,NaN,NaN,01,007
227,01 007,RincÃ³n de Romos,2022,Total,4,3,1,NaN,01,007
228,01 007,RincÃ³n de Romos,2022,Febrero,1,NaN,1,NaN,01,007
229,01 007,RincÃ³n de Romos,2022,Abril,1,1,NaN,NaN,01,007
230,01 007,RincÃ³n de Romos,2022,Julio,1,1,NaN,NaN,01,007
231,01 007,RincÃ³n de Romos,2022,Septiembre,1,1,NaN,NaN,01,007
232,01 008,San JosÃ© de Gracia,Total,Total,2,2,NaN,NaN,01,008
233,01 008,San JosÃ© de Gracia,Total,Agosto,2,2,NaN,NaN,01,008
234,01 008,San JosÃ© de Gracia,2022,Total,2,2,NaN,NaN,01,008
235,01 008,San JosÃ© de Gracia,2022,Agosto,2,2,NaN,NaN,01,008
236,01 009,TepezalÃ¡,Total,Total,3,3,NaN,NaN,01,009
237,01 009,TepezalÃ¡,Total,Julio,1,1,NaN,NaN,01,009
238,01 009,TepezalÃ¡,Total,Octubre,2,2,NaN,NaN,01,009
239,01 009,TepezalÃ¡,2022,Total,3,3,NaN,NaN,01,009
240,01 009,TepezalÃ¡,2022,Julio,1,1,NaN,NaN,01,009
241,01 009,TepezalÃ¡,2022,Octubre,2,2,NaN,NaN,01,009
242,01 010,El Llano,Total,Total,3,3,NaN,NaN,01,010
243,01 010,El Llano,Total,Noviembre,3,3,NaN,NaN,01,010
244,01 010,El Llano,2022,Total,3,3,NaN,NaN,01,010
245,01 010,El Llano,2022,Noviembre,3,3,NaN,NaN,01,010
246,01 011,San Francisco de los Romo,Total,Total,3,1,2,NaN,01,011
247,01 011,San Francisco de los Romo,Total,Octubre,3,1,2,NaN,01,011
248,01 011,San Francisco de los Romo,2022,Total,3,1,2,NaN,01,011
249,01 011,San Francisco de los Romo,2022,Octubre,3,1,2,NaN,01,011
250,2,Baja California,Total,Total,"2,881","2,438",315,128.0,2,None
251,2,Baja California,Total,Enero,223,184,31,8.0,2,None
252,2,Baja California,Total,Febrero,182,158,16,8.0,2,None
253,2,Baja California,Total,Marzo,235,194,32,9.0,2,None
254,2,Baja California,Total,Abril,201,162,29,10.0,2,None
255,2,Baja California,Total,Mayo,250,220,23,7.0,2,None
256,2,Baja California,Total,Junio,293,232,33,28.0,2,None
257,2,Baja California,Total,Julio,254,214,32,8.0,2,None
258,2,Baja California,Total,Agosto,247,200,27,20.0,2,None
259,2,Baja California,Total,Septiembre,238,214,24,NaN,2,None
260,2,Baja California,Total,Octubre,237,209,12,16.0,2,None
261,2,Baja California,Total,Noviembre,239,202,26,11.0,2,None
262,2,Baja California,Total,Diciembre,275,243,30,2.0,2,None
263,2,Baja California,Total,No especificado,7,6,NaN,1.0,2,None
264,2,Baja California,2019,Total,6,1,1,4.0,2,None
265,2,Baja California,2019,Agosto,5,NaN,1,4.0,2,None
266,2,Baja California,2019,Diciembre,1,1,NaN,NaN,2,None
267,2,Baja California,2020,Total,21,9,4,8.0,2,None
268,2,Baja California,2020,Mayo,2,2,NaN,NaN,2,None
269,2,Baja California,2020,Julio,4,2,2,NaN,2,None
270,2,Baja California,2020,Agosto,3,NaN,1,2.0,2,None
271,2,Baja California,2020,Septiembre,1,1,NaN,NaN,2,None
272,2,Baja California,2020,Octubre,5,NaN,1,4.0,2,None
273,2,Baja California,2020,Noviembre,4,2,NaN,2.0,2,None
274,2,Baja California,2020,Diciembre,2,2,NaN,NaN,2,None
275,2,Baja California,2021,Total,139,114,12,13.0,2,None
276,2,Baja California,2021,Enero,1,1,NaN,NaN,2,None
277,2,Baja California,2021,Febrero,4,3,NaN,1.0,2,None
278,2,Baja California,2021,Marzo,4,4,NaN,NaN,2,None
279,2,Baja California,2021,Abril,6,6,NaN,NaN,2,None
280,2,Baja California,2021,Mayo,3,3,NaN,NaN,2,None
281,2,Baja California,2021,Junio,10,6,1,3.0,2,None
282,2,Baja California,2021,Julio,7,7,NaN,NaN,2,None
283,2,Baja California,2021,Agosto,10,7,3,NaN,2,None
284,2,Baja California,2021,Septiembre,14,14,NaN,NaN,2,None
285,2,Baja California,2021,Octubre,21,14,NaN,7.0,2,None
286,2,Baja California,2021,Noviembre,21,18,2,1.0,2,None
287,2,Baja California,2021,Diciembre,38,31,6,1.0,2,None
288,2,Baja California,2022,Total,"2,712","2,312",298,102.0,2,None
289,2,Baja California,2022,Enero,222,183,31,8.0,2,None
290,2,Baja California,2022,Febrero,178,155,16,7.0,2,None
291,2,Baja California,2022,Marzo,231,190,32,9.0,2,None
292,2,Baja California,2022,Abril,195,156,29,10.0,2,None
293,2,Baja California,2022,Mayo,245,215,23,7.0,2,None
294,2,Baja California,2022,Junio,283,226,32,25.0,2,None
295,2,Baja California,2022,Julio,243,205,30,8.0,2,None
296,2,Baja California,2022,Agosto,229,193,22,14.0,2,None
297,2,Baja California,2022,Septiembre,223,199,24,NaN,2,None
298,2,Baja California,2022,Octubre,211,195,11,5.0,2,None
299,2,Baja California,2022,Noviembre,214,182,24,8.0,2,None

In [18]:
#drop unused columns
dirty = dirty.drop(columns=['Unnamed: 0']);


dirty

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Total,Hombre,Mujer,No especificado,StateId,MunicipalityId
0,Total,Total,Total,"33,287","28,745","3,928",614.0,NaN,NaN
1,Total,Total,Enero,"2,689","2,306",329,54.0,NaN,NaN
2,Total,Total,Febrero,"2,403","2,057",301,45.0,NaN,NaN
3,Total,Total,Marzo,"2,811","2,456",315,40.0,NaN,NaN
4,Total,Total,Abril,"2,674","2,275",334,65.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
19908,No especificado,2022,Noviembre,24,22,1,1.0,99,None
19909,No especificado,2022,Diciembre,21,17,2,2.0,99,None
19910,No especificado,2022,No especificado,33,30,3,NaN,99,None
19911,No especificado,No especificado,Total,44,34,4,6.0,99,None
19912,No especificado,No especificado,No especificado,44,34,4,6.0,99,None

In [19]:
#rename columns for easier identification
# Or rename the existing DataFrame (rather than creating a copy) 
dirty.rename(columns={'Unnamed: 1': 'Municipality', 'Unnamed: 2': 'Year', 'Unnamed: 3': 'Month'}, inplace=True)
dirty

,Municipality,Year,Month,Total,Hombre,Mujer,No especificado,StateId,MunicipalityId
0,Total,Total,Total,"33,287","28,745","3,928",614.0,NaN,NaN
1,Total,Total,Enero,"2,689","2,306",329,54.0,NaN,NaN
2,Total,Total,Febrero,"2,403","2,057",301,45.0,NaN,NaN
3,Total,Total,Marzo,"2,811","2,456",315,40.0,NaN,NaN
4,Total,Total,Abril,"2,674","2,275",334,65.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
19908,No especificado,2022,Noviembre,24,22,1,1.0,99,None
19909,No especificado,2022,Diciembre,21,17,2,2.0,99,None
19910,No especificado,2022,No especificado,33,30,3,NaN,99,None
19911,No especificado,No especificado,Total,44,34,4,6.0,99,None
19912,No especificado,No especificado,No especificado,44,34,4,6.0,99,None

In [20]:
#rearrange columns an add column for State
dirty = dirty.reindex(columns=['StateId','MunicipalityId','State', 'Municipality','Year','Month','Total','Hombre','Mujer','No especificado'])
dirty

,StateId,MunicipalityId,State,Municipality,Year,Month,Total,Hombre,Mujer,No especificado
0,NaN,NaN,NaN,Total,Total,Total,"33,287","28,745","3,928",614.0
1,NaN,NaN,NaN,Total,Total,Enero,"2,689","2,306",329,54.0
2,NaN,NaN,NaN,Total,Total,Febrero,"2,403","2,057",301,45.0
3,NaN,NaN,NaN,Total,Total,Marzo,"2,811","2,456",315,40.0
4,NaN,NaN,NaN,Total,Total,Abril,"2,674","2,275",334,65.0
...,...,...,...,...,...,...,...,...,...,...
19908,99,None,NaN,No especificado,2022,Noviembre,24,22,1,1.0
19909,99,None,NaN,No especificado,2022,Diciembre,21,17,2,2.0
19910,99,None,NaN,No especificado,2022,No especificado,33,30,3,NaN
19911,99,None,NaN,No especificado,No especificado,Total,44,34,4,6.0
19912,99,None,NaN,No especificado,No especificado,No especificado,44,34,4,6.0

In [22]:
#drop rows with StateId = Nan and Municipality = Total

dirty.dropna(subset=['StateId'], inplace=True)
dirty.head(100)

,StateId,MunicipalityId,State,Municipality,Year,Month,Total,Hombre,Mujer,No especificado
132,1,None,NaN,Aguascalientes,Total,Total,83,71,12,NaN
133,1,None,NaN,Aguascalientes,Total,Enero,7,6,1,NaN
134,1,None,NaN,Aguascalientes,Total,Febrero,7,5,2,NaN
135,1,None,NaN,Aguascalientes,Total,Marzo,6,5,1,NaN
136,1,None,NaN,Aguascalientes,Total,Abril,2,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
227,01,007,NaN,RincÃ³n de Romos,2022,Total,4,3,1,NaN
228,01,007,NaN,RincÃ³n de Romos,2022,Febrero,1,NaN,1,NaN
229,01,007,NaN,RincÃ³n de Romos,2022,Abril,1,1,NaN,NaN
230,01,007,NaN,RincÃ³n de Romos,2022,Julio,1,1,NaN,NaN
231,01,007,NaN,RincÃ³n de Romos,2022,Septiembre,1,1,NaN,NaN

In [24]:

dirty.head(100)

,StateId,MunicipalityId,State,Municipality,Year,Month,Total,Hombre,Mujer,No especificado
132,1,None,NaN,Aguascalientes,Total,Total,83,71,12,NaN
133,1,None,NaN,Aguascalientes,Total,Enero,7,6,1,NaN
134,1,None,NaN,Aguascalientes,Total,Febrero,7,5,2,NaN
135,1,None,NaN,Aguascalientes,Total,Marzo,6,5,1,NaN
136,1,None,NaN,Aguascalientes,Total,Abril,2,2,NaN,NaN
137,1,None,NaN,Aguascalientes,Total,Mayo,5,5,NaN,NaN
138,1,None,NaN,Aguascalientes,Total,Junio,8,7,1,NaN
139,1,None,NaN,Aguascalientes,Total,Julio,8,8,NaN,NaN
140,1,None,NaN,Aguascalientes,Total,Agosto,9,8,1,NaN
141,1,None,NaN,Aguascalientes,Total,Septiembre,8,6,2,NaN
142,1,None,NaN,Aguascalientes,Total,Octubre,10,7,3,NaN
143,1,None,NaN,Aguascalientes,Total,Noviembre,7,6,1,NaN
144,1,None,NaN,Aguascalientes,Total,Diciembre,6,6,NaN,NaN
145,1,None,NaN,Aguascalientes,2022,Total,83,71,12,NaN
146,1,None,NaN,Aguascalientes,2022,Enero,7,6,1,NaN
147,1,None,NaN,Aguascalientes,2022,Febrero,7,5,2,NaN
148,1,None,NaN,Aguascalientes,2022,Marzo,6,5,1,NaN
149,1,None,NaN,Aguascalientes,2022,Abril,2,2,NaN,NaN
150,1,None,NaN,Aguascalientes,2022,Mayo,5,5,NaN,NaN
151,1,None,NaN,Aguascalientes,2022,Junio,8,7,1,NaN
152,1,None,NaN,Aguascalientes,2022,Julio,8,8,NaN,NaN
153,1,None,NaN,Aguascalientes,2022,Agosto,9,8,1,NaN
154,1,None,NaN,Aguascalientes,2022,Septiembre,8,6,2,NaN
155,1,None,NaN,Aguascalientes,2022,Octubre,10,7,3,NaN
156,1,None,NaN,Aguascalientes,2022,Noviembre,7,6,1,NaN
157,1,None,NaN,Aguascalientes,2022,Diciembre,6,6,NaN,NaN
158,01,001,NaN,Aguascalientes,Total,Total,42,37,5,NaN
159,01,001,NaN,Aguascalientes,Total,Enero,4,4,NaN,NaN
160,01,001,NaN,Aguascalientes,Total,Febrero,6,5,1,NaN
161,01,001,NaN,Aguascalientes,Total,Marzo,4,3,1,NaN
162,01,001,NaN,Aguascalientes,Total,Mayo,1,1,NaN,NaN
163,01,001,NaN,Aguascalientes,Total,Junio,8,7,1,NaN
164,01,001,NaN,Aguascalientes,Total,Julio,1,1,NaN,NaN
165,01,001,NaN,Aguascalientes,Total,Agosto,4,4,NaN,NaN
166,01,001,NaN,Aguascalientes,Total,Septiembre,7,5,2,NaN
167,01,001,NaN,Aguascalientes,Total,Octubre,2,2,NaN,NaN
168,01,001,NaN,Aguascalientes,Total,Noviembre,3,3,NaN,NaN
169,01,001,NaN,Aguascalientes,Total,Diciembre,2,2,NaN,NaN
170,01,001,NaN,Aguascalientes,2022,Total,42,37,5,NaN
171,01,001,NaN,Aguascalientes,2022,Enero,4,4,NaN,NaN
172,01,001,NaN,Aguascalientes,2022,Febrero,6,5,1,NaN
173,01,001,NaN,Aguascalientes,2022,Marzo,4,3,1,NaN
174,01,001,NaN,Aguascalientes,2022,Mayo,1,1,NaN,NaN
175,01,001,NaN,Aguascalientes,2022,Junio,8,7,1,NaN
176,01,001,NaN,Aguascalientes,2022,Julio,1,1,NaN,NaN
177,01,001,NaN,Aguascalientes,2022,Agosto,4,4,NaN,NaN
178,01,001,NaN,Aguascalientes,2022,Septiembre,7,5,2,NaN
179,01,001,NaN,Aguascalientes,2022,Octubre,2,2,NaN,NaN
180,01,001,NaN,Aguascalientes,2022,Noviembre,3,3,NaN,NaN
181,01,001,NaN,Aguascalientes,2022,Diciembre,2,2,NaN,NaN
182,01,002,NaN,Asientos,Total,Total,2,2,NaN,NaN
183,01,002,NaN,Asientos,Total,Enero,1,1,NaN,NaN
184,01,002,NaN,Asientos,Total,Diciembre,1,1,NaN,NaN
185,01,002,NaN,Asientos,2022,Total,2,2,NaN,NaN
186,01,002,NaN,Asientos,2022,Enero,1,1,NaN,NaN
187,01,002,NaN,Asientos,2022,Diciembre,1,1,NaN,NaN
188,01,003,NaN,Calvillo,Total,Total,11,9,2,NaN
189,01,003,NaN,Calvillo,Total,Mayo,3,3,NaN,NaN
190,01,003,NaN,Calvillo,Total,Julio,3,3,NaN,NaN
191,01,003,NaN,Calvillo,Total,Agosto,3,2,1,NaN
192,01,003,NaN,Calvillo,Total,Octubre,1,1,NaN,NaN
193,01,003,NaN,Calvillo,Total,Noviembre,1,NaN,1,NaN
194,01,003,NaN,Calvillo,2022,Total,11,9,2,NaN
195,01,003,NaN,Calvillo,2022,Mayo,3,3,NaN,NaN
196,01,003,NaN,Calvillo,2022,Julio,3,3,NaN,NaN
197,01,003,NaN,Calvillo,2022,Agosto,3,2,1,NaN
198,01,003,NaN,Calvillo,2022,Octubre,1,1,NaN,NaN
199,01,003,NaN,Calvillo,2022,Noviembre,1,NaN,1,NaN
200,01,004,NaN,CosÃ­o,Total,Total,2,2,NaN,NaN
201,01,004,NaN,CosÃ­o,Total,Marzo,1,1,NaN,NaN
202,01,004,NaN,CosÃ­o,Total,Mayo,1,1,NaN,NaN
203,01,004,NaN,CosÃ­o,2022,Total,2,2,NaN,NaN
204,01,004,NaN,CosÃ­o,2022,Marzo,1,1,NaN,NaN
205,01,004,NaN,CosÃ­o,2022,Mayo,1,1,NaN,NaN
206,01,005,NaN,JesÃºs MarÃ­a,Total,Total,8,7,1,NaN
207,01,005,NaN,JesÃºs MarÃ­a,Total,Enero,2,1,1,NaN
208,01,005,NaN,JesÃºs MarÃ­a,Total,Abril,1,1,NaN,NaN
209,01,005,NaN,JesÃºs MarÃ­a,Total,Julio,2,2,NaN,NaN
210,01,005,NaN,JesÃºs MarÃ­a,Total,Diciembre,3,3,NaN,NaN
211,01,005,NaN,JesÃºs MarÃ­a,2022,Total,8,7,1,NaN
212,01,005,NaN,JesÃºs MarÃ­a,2022,Enero,2,1,1,NaN
213,01,005,NaN,JesÃºs MarÃ­a,2022,Abril,1,1,NaN,NaN
214,01,005,NaN,JesÃºs MarÃ­a,2022,Julio,2,2,NaN,NaN
215,01,005,NaN,JesÃºs MarÃ­a,2022,Diciembre,3,3,NaN,NaN
216,01,006,NaN,PabellÃ³n de Arteaga,Total,Total,3,2,1,NaN
217,01,006,NaN,PabellÃ³n de Arteaga,Total,Marzo,1,1,NaN,NaN
218,01,006,NaN,PabellÃ³n de Arteaga,Total,Octubre,2,1,1,NaN
219,01,006,NaN,PabellÃ³n de Arteaga,2022,Total,3,2,1,NaN
220,01,006,NaN,PabellÃ³n de Arteaga,2022,Marzo,1,1,NaN,NaN
221,01,006,NaN,PabellÃ³n de Arteaga,2022,Octubre,2,1,1,NaN
222,01,007,NaN,RincÃ³n de Romos,Total,Total,4,3,1,NaN
223,01,007,NaN,RincÃ³n de Romos,Total,Febrero,1,NaN,1,NaN
224,01,007,NaN,RincÃ³n de Romos,Total,Abril,1,1,NaN,NaN
225,01,007,NaN,RincÃ³n de Romos,Total,Julio,1,1,NaN,NaN
226,01,007,NaN,RincÃ³n de Romos,Total,Septiembre,1,1,NaN,NaN
227,01,007,NaN,RincÃ³n de Romos,2022,Total,4,3,1,NaN
228,01,007,NaN,RincÃ³n de Romos,2022,Febrero,1,NaN,1,NaN
229,01,007,NaN,RincÃ³n de Romos,2022,Abril,1,1,NaN,NaN
230,01,007,NaN,RincÃ³n de Romos,2022,Julio,1,1,NaN,NaN
231,01,007,NaN,RincÃ³n de Romos,2022,Septiembre,1,1,NaN,NaN